services:
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: test@test.com
      PGADMIN_DEFAULT_PASSWORD: test
    ports:
      - "8081:80"
    restart: unless-stopped
    volumes:
      - pgadmin:/var/lib/pgadmin

  db:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      PGDATA: /data/postgres
      POSTGRES_DB: metrics
    volumes:
      - db:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - db
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5
      
networks:
  db:
    driver: bridge

volumes:
  db:
  pgadmin: